/* header {
    position:fixed;
    width:100%;
} */

.searchbar {
 display: flex;
}

.toTheLeft {
    flex:1;
}

#hamburger {
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-left: 1.2em;
    margin-bottom: 0.4em;
}

#youtube {
    width: 82px;
    height: 35px;
    margin-top: 0.2em;
    margin-left: 1.4em;
}

.search-container {
    margin-left: 0.6em;
    margin-top: 0.2em;
    flex:3;
    display:flex;
}

#searchInput {
    height: 27px;
    flex:0.78;
    position:relative;
    margin-left: 2.1em;
    align-items: center;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius:2px 0 0 2px;
    box-shadow: inset 0 1px 2px #ccc;
    font-family: sans-serif;
    font-size: 14px
}

#searchIcon {
    flex:0.1;
    height: 31px;
    cursor:pointer;
    border :1px solid #ccc;
    border-radius: 0 2px 2px 0;
    padding:0;
    color:#ccc;
    box-sizing: content-box;
}

#lent{
    width: 15px;
    height: 15px;
}

.toTheRight {
    flex: 1;
    margin-left:1.2em;
}

.nav {
    margin-top: -0.5em;
}

#upload {
    width: 20px;
    height: 20px;
    opacity:50%;
    margin-left: 2.2em;
    margin-top:0.7em;
}

#app {
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-left: 1.4em;
    margin-top:0.5em;
}

#bell {
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-left: 1.6em;
    margin-top: 1em;
}

#user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 2em;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: minmax(100px,auto) repeat(3, 200px);
    gap:1px 1px;
    grid-template-areas: 
    "video-container video-container side"
    "video-container video-container side"
    "comments comments side"
    "comments comments side"
    "comments comments side"
    "comments comments side"
    "comments comments side";
    margin-top:1em;
}

.comments { grid-area: comments}

.video-container {
    grid-area: video-container;
    background-color: #f9f9f9;
}

#main-video {
    width:748px;
    height:421px; 
}

#video-title {
    font-weight: 400;
    font-size:1.3em;
}

#views {
    color:#606060;
    font-size:1em;
}

#options {
    float:right;
    margin-top:-3em;
    margin-right:3.3em;
}

.nav-buttons {
    display:contents;
    font-size:14px;
    padding:20px;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:#606060;
}

.nav-img {
    width:24px;
    height:24px;
    color:#909090;
}

.side {
    grid-area:side;
    background-color: #f9f9f9;
}

#playlist {
    margin: 1em 1em 2em 0;
    display:flex;
    background-color:#fff;
}

#playlist-title {
    flex:4;
}

#pl-p {
    font-size:small;
    font-weight: 500;
}

#pl-b {
    flex:1;
}

#pl-button {
    margin-top:2em;
    border:none;
    background-color: #fff;
    padding:0;
}

.rotate {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.thumbnail {
    margin-bottom: 2em;
    display:grid;
    grid-template-areas: 
    "img img info info dots";
    grid-template-columns: repeat(5,90px);
    grid-template-rows:100px;
    width:200px;
    color:black;
    text-decoration: none;
}

.thumbnail-img {
    grid-area: img;
}

.thumbnail-info { grid-area: info}

.thumbnail-overlay { grid-area:dots}

.thumbnail-title { 
    margin:0
}

.thumbnail-channel { 
    margin:0.1em;
    font-weight: 200;
    font-size: 13px;
    color:#909090;
}

.vertical-dot {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.duration {
    position: relative;
    top:-1.4em;
    left:9.5em;
    color:#fff;
    background-color:#000;
    width: fit-content;
    font-size: 14px;
}

.thumbnail-img-overlay {
    position: relative;
    top:-7em;
    left:9em;
    width:fit-content;
    display:flex;
    flex-direction:column;
}

.btn-thumbnail {
    display:contents;
}

.watch-later {
    width:20px;
    height: 20px;
}

.add-to-queue {
    width: 20px;
    height:20px;
}

.thumbnail-overlay {
    flex:0.1;
}

.allTheSame {
    font-size: 13px;
    font-weight: 300;
}

#comments-info { 
    margin-bottom: 40em;
}

#comments-count {
    font-size:18px;
    margin:2em;
    font-weight: 400;
}

#sort-btn {
    appearance: none;
    display:contents;
    font-size: 14px;
    padding:20px;
    cursor:pointer;
    color:#606060;
    font-family: Arial, Helvetica, sans-serif;
}
