/* header {
    position:fixed;
    width:100%;
} */

.searchbar {
 display: flex;
}

.toTheLeft {
    flex:1;
}

#hamburger {
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-left: 1.2em;
    margin-bottom: 0.4em;
}

#youtube {
    width: 82px;
    height: 35px;
    margin-top: 0.2em;
    margin-left: 1.4em;
}

.search-container {
    margin-left: 0.6em;
    margin-top: 0.2em;
    flex:3;
    display:flex;
}

#searchInput {
    height: 27px;
    flex:0.78;
    position:relative;
    margin-left: 2.1em;
    align-items: center;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius:2px 0 0 2px;
    box-shadow: inset 0 1px 2px #ccc;
    font-family: sans-serif;
    font-size: 14px
}

#searchIcon {
    flex:0.1;
    height: 31px;
    cursor:pointer;
    border :1px solid #ccc;
    border-radius: 0 2px 2px 0;
    padding:0;
    color:#ccc;
    box-sizing: content-box;
}

#lent{
    width: 15px;
    height: 15px;
}

.toTheRight {
    flex: 1;
    margin-left:1.2em;
}

.nav {
    margin-top: -0.5em;
}

#upload {
    width: 20px;
    height: 20px;
    opacity:50%;
    margin-left: 2.2em;
    margin-top:0.7em;
}

#app {
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-left: 1.4em;
    margin-top:0.5em;
}

#bell {
    width: 20px;
    height: 20px;
    opacity: 50%;
    margin-left: 1.6em;
    margin-top: 1em;
}

#user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 2em;
}

.video-container {
    margin-top:1em;
    background-color: #f9f9f9;
}

#main-video {
    width:748px;
    height:421px; 
}

#video-title {
    font-weight: 400;
    font-size:1.3em;
}

#views {
    color:#606060;
    font-size:1em;
}

#options {
    float:right;
    margin-top:-3em;
    margin-right:11.6em;
}

.nav-buttons {
    display:contents;
    text-align: center;
    font-size:14px;
    padding:20px;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:#606060;
}

.nav-img {
    width:24px;
    height:24px;
    color:#909090;
}

.side {
    float :right;
}

#playlist {
    margin: 1em 1em 2em 0;
    display:flex;
    background-color:#fff;
}

#playlist-title {
    flex:4;
}

#pl-p {
    font-size:small;
    font-weight: 500;
}

#pl-b {
    flex:1;
}

#pl-button {
    margin-top:2em;
    border:none;
    background-color: #fff;
    padding:0;
    opacity: 0.4;
}

.comments {
    background-color: brown;
}